<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head.ejs') %>
    <link rel="icon" href="images/icon.png" />
    <title>About &#128565;</title>
  </head>
  <body class="body">
    <div class="cursor"></div>
    <%- include('partials/navbar.ejs') %>

    <div
      class="container-fluid d-flex justify-content-start align-items-center about"
    >
      <div
        class="card aboutcard"
      >
        <hr style="color: #ada0a0" />
        <div
          class="card-body d-flex flex-column justify-content-center aboutbody"
        >
          I'm someone from IIT Kanpur, passionate about the fusion of technology
          and engineering. With a strong foundation in ML, AI, and Computer
          Vision, I've tackled Data Science, web development, and cutting-edge
          AI models like GPT and PaLM. My coursework spans from heat transfer to
          body dynamics, blending theory with practical know-how. Outside the
          lab, I'm a Bollywood buff and a tech enthusiast, always ready to say,
          "Main hoon na" to new challenges. When I'm not coding, you can find me
          playing harmonica or lost in a world of Bollywood classics, humming
          "Yeh shaam mastani" and dreaming of new innovations.
        </div>
        <hr style="color: #ada0a0" />
      </div>
    </div>

    <%- include('partials/script.ejs') %>
  </body>
</html>
